{{#each this}}
<li class="search-countries__item">
    <img class="search-countries__img" src="{{flag}}" alt="{{alpha2Code}}" width="20" height="12">
    <span class="search-countries__name">{{name}}</span>
</li>
{{/each}}